{% extends 'base.html' %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Оформление заказа</h1>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Контактная информация</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>Имя</label>
                                {{ form.first_name }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Фамилия</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>Email</label>
                                {{ form.email }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Телефон</label>
                                {{ form.phone }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Адрес</label>
                            {{ form.address }}
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>Город</label>
                                {{ form.city }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Почтовый индекс</label>
                                {{ form.postal_code }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Способ оплаты</label>
                            {{ form.payment_method }}
                        </div>
                        <button type="submit" class="btn btn-success btn-lg w-100">Подтвердить заказ</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Ваш заказ</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for item in cart %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ item.product.name }} x {{ item.quantity }}
                                <span>{{ item.total_price }} ₽</span>
                            </li>
                        {% endfor %}
                        <li class="list-group-item d-flex justify-content-between align-items-center fw-bold">
                            Итого
                            <span>{{ cart.get_total_price }} ₽</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}